body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Press Start 2P', cursive;
      font-size: small;
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

#room {
  position: relative;
  background-image: url('background.png');
  width: 900px;
  margin: 2px auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar {
  display: inline-block;
  width: 60px;
  height: 160px;
  top: 300px;
  background-image: url('assets/office_peeps.png');
  background-color: Transparent;
  border: 0px;

}
.explosion{
  background-position: 0px 0px !important;
  border: 0px;
  margin-top: 36px;
  margin-left: -18px;
  width: 100px;
  height: 100px;
  background: url("explosion.gif") no-repeat center center;
  background-size: contain;
}
.patients {
  display: -webkit-inline-box;
  padding-top: 249px;
  padding-left: 120px;
}

#popupx{
  float:right;
  cursor: pointer;
}
.statsBox{
  border-radius: 20px;
  float: right;
  background-color: aliceblue;
  width: 370px;
  text-align: center;
  /*height: 13px;*/
  margin: 6px 7px;
  padding: 7px;
}
.tempBar
{
  //background-color: #E80000;
  padding-top: 70px;
  height: 30px;
  width: 54px;
  margin: 10px;
}

.timer {
  border-radius: 8px;
  background: bisque;
  position: absolute;
    right: 40px;
    top: 50px;
    width: 120px;
    text-align: right;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    border: 8px solid #000;
    padding: 8px;
}

.good {
  color:green;
}
.bad {
  color:red;
}
