body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#room {
  position: relative;
  background-image: url('background.png');
  width: 600px;
  height: 500px;
  margin: 5px auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.avatar {
  display: inline-block;
  width: 60px;
  height: 160px;
  top: 300px;
  background-image: url('assets/office_peeps.png');
  background-color: Transparent;
  border: 0px;

}

.patients {
  display: -webkit-box;
  padding-top: 100px;
  padding-left: 50px;
}

#popupx{
  float:right;
  cursor: pointer;
}

.tempBar
{
  //background-color: #E80000;
  padding-top: 70px;
  height: 30px;
  width: 54px;
  margin: 10px;
}
